/* Estilos generales */

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0f7fa;
}

main {
    font-size: 1.4em;
}

/* Tarjeta */

.confirmation-card {
    width: 100%;
    max-width: 900px; /* Ajusta según tus necesidades */
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    display: flex; /* Utilizamos flexbox para distribuir las dos secciones */
}

/* Parte izquierda */

.info-section {
    flex: 2;
    padding: 7%;
    text-align: left;
    position: relative;
    display: flex; /* Utilizamos flexbox para distribuir los elementos internos */
}


.confirmation-button-section {
    flex: 1;
    padding: 20px;
    text-align: center;
    background-color: #37bbed;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.image-container {
    width: 100%;
    height: 100%; /* Ajusta según tus necesidades */
    overflow: hidden;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #b2dfdb;
    color: seagreen;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0072b8;
}

.texto_inferior {
    color: white;
}

@media (max-width: 768px) {
    .confirmation-card {
        padding: 20px; /* Agregamos un espacio alrededor de la tarjeta */
        flex-direction: column; /* Cambiamos a una disposición de una columna */
    }

    .info-section,
    .confirmation-button-section {
        flex: 1; /* Ambas secciones ocupan el 100% del ancho */
        padding: 15px; /* Añadimos espacio interno a cada sección */
    }

    .info-section {
        order: -1; /* Cambiamos el orden para que info-section esté arriba */
    }


    h2 {
        font-size: 24px; /* Reducimos el tamaño de la fuente del encabezado */
    }

    p {
        font-size: 14px; /* Reducimos el tamaño de la fuente del párrafo */
    }

    button {
        font-size: 16px; /* Reducimos el tamaño de la fuente del botón */
    }
    ul{
        font-size: 14px;
    }

    .image-container img {
        content: url('../img/Turismo-Logo2.jpg'); /* Ruta de la nueva imagen para dispositivos móviles */
    }
}